{% extends 'base.html' %}

{% block content %}
{% load thumbnail %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <script>
      alert('{{ message }}');
    </script>
  {% endif %}
{% endfor %}

<div class="col-sm-12 col-md-10 col-md-offset-1">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>물품</th>
        <th class="text-center">가격</th>
        <th class="text-center">수량</th>
        <th class="text-center">총합</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      <tr>
        <td class="col-sm-8 col-md-6">
          <div class="media">
            {% thumbnail item.inventory.rentalproduct.image "150x150" crop="center" as im %}
              <a class="thumbnail pull-left" href="#"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
            {% endthumbnail %}
            <div class="media-body">
              <h4 class="media-heading"><a href="#">{{ item.inventory.rentalproduct.name }}</a></h4>
              <h5 class="media-heading"> by <a href="#">{{ item.inventory.store.name }}</a></h5>
            </div>
          </div></td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.inventory.rentalproduct.price }}</strong></td>
          <td class="col-sm-1 col-md-1 text-center">
            <form action="{% url 'cart:add' item.inventory.id  %}" method="post">
              {{ item.update_quantity_form.quantity }}
              {% csrf_token %}
              <input type="submit" value="수정" class="btn btn-default add-to-cart">
            </form>
          </td>
          <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.total_price }}</strong></td>
        {% endfor %}
      </tbody>
  </table>
  <a href="{% url 'rental:reservation' %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> 주문하기</button></td>
</div>





{% endblock %}
