{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <script>
      alert('{{ message }}');
    </script>
  {% endif %}
{% endfor %}

<div class="col-sm-12">
  <h3 class="text-center">반갑습니다.</br></br>로그인 부탁드립니다.</h3>
  <div class="wrapper">
      <form action="{% url 'account:login' %}" method="post" name="Login_Form" class="form-signin">
          <hr class="spartan">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-user"></i>
              </span>
             <input class="form-control" placeholder="username" id="id_username" name="username" type="text" required />
          </div>
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-lock"></i>
              </span>
              <input class="form-control" placeholder="password" id="id_password" name="password" type="password" required />
          </div>
          {% csrf_token %}
          <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Entrar" type="Submit">로그인</button>
      </form>
  </div>
</div>
{% endblock %}
