{% extends 'base.html' %}

{% block content %}
  <!-- 예약한 상품을 보여준다.  -->

{% load thumbnail %}
<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image"></td>
            <td class="description">제목</td>
            <td class="price">가격</td>
            <td class="quantity">수량</td>
            <td class="total">Total</td>
            <td class="total">상태</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td class="cart_product">
              {% thumbnail item.inventory.rentalproduct.image "150x150" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
              <!-- <img src="{% if item.rentalProduct.image %}{{ item.rentalProduct.image.url }}{% endif %}" alt=""></a> -->
            </td>
            <td class="cart_description">
              <h4><a href="">{{ item.inventory.rentalproduct.name }}</a></h4>
              <p>{{ item.inventory.store.name }}</p>
            </td>
            <td class="cart_price">
              <p>{{ item.inventory.rentalproduct.price }}</p>
            </td>
            <td class="cart_quantity">
                {{ item.stock }}</br>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{ item.total_price }}</p>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">{{ item.status }}</p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="#"><button class="btn btn-default">취소하기</button></a>
  </div>
</section> <!--/#cart_items-->
{% endblock %}
