{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <script>
      alert('{{ message }}');
    </script>
  {% endif %}
{% endfor %}

<div class="col-sm-12">
  <div class="wrapper">
      <form action="{% url 'account:register' %}" method="post" name="Login_Form" class="form-signin" enctype="multipart/form-data">
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-user"></i>
              </span>
              <!-- <span class="helptext">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span> -->
              <input class="form-control" maxlength="150" placeholder="username" id="id_username" name="username" type="text" required />
          </div>

          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="fa fa-lock"></i>
              </span>
              <input id="id_password" placeholder="비밀번호" class="form-control" name="password" type="password" required />
              <input id="id_password2" placeholder="비밀번호 확인" class="form-control" name="password2" type="password" required />
          </div>

          <label for="id_image">프로필사진:</label>
          <input id="id_image" name="image" type="file" />

          {% csrf_token %}
          <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Entrar" type="Submit">회원가입</button>

          <hr class="spartan">
          <!-- <div style="font-size:85%"> -->
          <a href="#">계정 찾기</a>
          </div>
      </form>

  </div>
</div>


{% endblock %}
