{% extends 'base.html' %}

{% block content %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <script>
      alert('{{ message }}');
    </script>
  {% endif %}
{% endfor %}

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="login-form"><!--login form-->
					<h2>로그인하세요</h2>
					<form action="{% url 'account:register' %}" method="post"enctype="multipart/form-data">
            {{ user_form.as_p }}
            {{ customer_form.as_p }}
            {% csrf_token %}
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div><!--/login form-->
    </div>
  </div>
</div>

{% endblock %}
