  {% extends 'base.html' %}
  {% block content %}
  {% load thumbnail %}

{% for message in messages %}
  {% if message.tags == "error" %}
    <script>
      alert('{{ message }}');
    </script>
  {% endif %}
{% endfor %}

<div>
  <h1>{{ address}}</h1>

  <div class="col-md-12">
    {% for product in inventory %}
        <div class="col-sm-6 col-md-4">
        	<div class="thumbnail" >
        		<!-- <h4 class="text-center"><span class="label label-info">{{ product.rentalproduct.name }}</span></h4> -->
            {% thumbnail product.rentalproduct.image "250x250" crop="center" as im %}
              <a href="{% url 'rental:detail' product.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive"></a>
            {% endthumbnail %}

        		<div class="caption">
        				<h5>상품이름:{{ product.rentalproduct.name }}</h5>
                <label>가격:{{ product.rentalproduct.price }}원</label>
                </h5>위치:{{ product.store.address }} {{ product.store.address.other_address }}</h5>
        			<p>상품설명:</br>
              {{ product.rentalproduct.description }}
        			<div class="row">
        				<div class="col-md-6">
                  <form action="{% url 'cart:add' product.id %}" method="post">
                    {% csrf_token %}
                    {% if product.rentalproduct.stock is not 0 %}
                      <select id="id_quantity" name="quantity" required>
                        {% for x in product.rentalproduct.iter_stock %}
                        <option value="{{ x }}">{{ x }}</option>
                        {% endfor %}
                      </select>
                      <input type="submit" value="장바구니"  class="btn btn-success btn-product">
                    {% else %}
                      품절
                    {% endif %}
                  </form>
        				</div>
        			</div>
        			<p> </p>
        		</div>
        	</div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
