{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}

<div class="content-section">
  <div class="container">
    <div class="row">
      {% for product in inventory %}
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                {% thumbnail product.rentalproduct.image "350x350" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
                <h2>{{ product.rentalproduct.price }}</h2>
                <p>{{ product.rentalproduct.name }}</p>
                <p>{{ product.store.name }}</p>

                <form action="{% url 'cart:add' product.id %}" method="post">
                  {{ cart_product_form.as_p }}
                  {% csrf_token %}
                  <input type="submit" value="장바구니" class="btn btn-default add-to-cart">
                  <!-- <i class="fa fa-shopping-cart"><Button type="submit" value="장바구니" class="btn btn-default add-to-cart"> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
