{% extends 'base.html' %}
{% load embed_video_tags %}

{% block content %}

<div class="col-md-3">
    <p class="lead">주제</p>
    <div class="list-group">
      {% for subject in subjects %}
        <a href="{% url 'lecture:list' subject.id %}" class="list-group-item">{{ subject }}</a>
      {% endfor %}
    </div>
</div>

<div class="col-md-7">
  {% for post in posts %}
  <div class="thumbnail">
      {% video post.video as my_video %}
      {% video my_video "medium" %}
      {% endvideo %}
      <div class="caption-full">
          <h4><a href="#">{{ post.title }}</a>
          </h4>
          {{ post.body|linebreaks }}
      </div>
  </div>
  {% endfor %}

  {% if is_paginated %}
  <ul class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
      <a href="?page={{ posts.previous_page_number }}">이전</a>
      {% endif %}
      <span class="current">
        Page {{posts.number}} of {{ posts.paginator.num_pages }}
      </span>
      {% if posts.has_next %}
      <a href="?page={{ posts.next_page_number }}">다음</a>
      {% endif %}
    </span>
  </ul>
  {% endif %}
</div>

{% endblock %}
