{% extends "shop/base.html" %}
{% load static %}

{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Products
{% endif %}
{% endblock %}


{% block content %}
    <section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
                    <!--왼쪽 사이드 메뉴-->
					<div class="left-sidebar">
						<h2>Category</h2>
                        <!--카테고리 출력-->
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="{% url 'shop:product_list' %}">전체</a></h4>
                                    </div>
                            </div>
                            {% for c in categories %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a href="{{ c.get_absoulte_url }}">{{ c.name }}</a></h4>
                                    </div>
							    </div>
                            {% endfor %}
						</div><!--/category-productsr-->
                        <!--카테고리 출력-->
					</div>
                    <!--왼쪽 사이드 메뉴-->
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>
                        <!--상품 진열-->
                        {% for product in products %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static '' %} {% endif %}" alt="" />
                                            <h2>{{ product.name }}</h2>
                                            <p>{{ product.price }}만원</p>
                                            <a href="{{ product.get_absoulte_url }}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>자세히 보기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
					</div><!--features_items-->

                    <!--페이징-->
                     <ul class="pagination">
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">&raquo;</a></li>
                    </ul>
                    <!--페이징-->

				</div>
			</div>
		</div>
	</section>
{% endblock %}
